/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

// Importin partials
@import "scss/typography";
@import "scss/variables";
@import "scss/mixins";

// Base Styles
@import "scss/base";

// Effects
@import "scss/effects_pulse";

.whatsapp_for_wordpress_vi-public {
  // 0. Commons
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  // 1. Basic Widget : Button Only
  &-basic {
    position: fixed;
    bottom: 40px;
    right: 40px;
    // &-basepop{
    //     bottom: 20px;
    //     right: 20px;
    // }
  }

  // 2. Basic popup Widget : Initial message, agent info and Button Only
  &-basepop {
    transition: all 0.7s ease-in-out;
    &-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;
      a {
        &.activated {
          img {
            filter: grayscale(15%) drop-shadow(1px 1px 4px);
          }
        }
      }
      .wa-float-btn {
        display: flex;
        .whatsapp_for_wordpress_vi-public-basepop-btn-openicon,
        span {
          display: none;
          transition: all 1s ease-in-out;
        }
        &.activated {
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 6px 40px;
          border-radius: 20px;
          border: 1px solid;
          text-decoration: none;
          background-color: #eff;
          transition: all .3s ease-in-out;
          .whatsapp_for_wordpress_vi-public-basepop-btn-openicon {
            display: block;
            width: 30px;
          }
          span {
            display: block;
            font-size: 16px;
            font-family: $font_dosis;
          }
          .whatsapp_for_wordpress_vi-public-basepop-btn-deficon {
            display: none;
          }
        }
      }
    }
    &-inner {
      position: fixed;
      bottom: 80px;
      right: 5px;
      @include resp_tab {
        right: 20px;
      }
      
      width: 320px;
      // height: 445px;
      min-height: 350px;
      z-index: 0;
      background: #b0b0b0;

      max-height: 500px;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
      border: 1px solid #ccc;
      border-top: none;
      background: rgba(0, 0, 0, 0.5);
      background: #f7f7f7;
      border-radius: 20px;
      box-sizing: border-box;
      z-index: 1000;

      max-width: calc(100% - 10px);
      // @include resp_tab{
      //     max-width: calc(100% - 30px);
      // }

      display: none;
      transition: all 0.7s ease-in-out;
      &.opened {
        display: block;
        transition: all 0.7s ease-in-out;
      }

      // padding: 30px 20px;
    }
    &-view {
      &-headr {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        border-bottom: 1px solid #444;
        padding: 10px 20px;
        border-radius: 20px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        align-items: center;
        font-family: $font_dosis;
        &-agentimg {
          position: relative;
          max-width: 44px;
          img {
            width: 44px;
            border-radius: 50%;
            border: 1px solid #444;
          }
          &:after {
            content: "";
            background-color: #9de62e;
            border: 1px solid;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 7%;
            bottom: 0;
            border-radius: 50%;
          }
        }
        &-agentname {
          font-size: 22px;
        }
      }
      &-body {
        background-repeat: repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
        max-height: calc(100% - 180px);
        opacity: 0.8;
        &-inner {
        }
        &-greet {
          padding: 20px 20px 20px 30px;
          &-txt {
            background: #fff;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            position: relative;
            border-top-left-radius: 0;
            &-agent {
              font-size: 15px;
              font-family: $font_dosis;
            }
            p {
              margin: unset;
              font-family: $font_dosis;
              font-size: 15px;
              line-height: 24px;
              font-weight: 600;
            }
            .time {
              font-family: $font_dosis;
              display: flex;
              justify-content: flex-end;
              font-size: 14px;
              color: #777;
            }
            &::before {
              content: " ";
              position: absolute;
              border-bottom: 18px solid transparent;
              border-right: 18px solid #f7f7f7;
              border-left: none;
              border-right-color: #fff;
              left: -16px;
              position: absolute;
              top: 0;
              z-index: -1;
            }
          }
        }
      }
      &-footr {
        a {
          background: #25d366;
          display: flex;
          margin: 20px;
          border-radius: 15px;
          justify-content: center;
          gap: 10px;
          align-items: center;
          text-decoration: none;
          border: 1px solid transparent;
          &:hover{
            // background-color: #128a49;
            border-color: #128a49;
          }
          img {
            width: 30px;
            height: 30px;
            padding: 5px 0;
          }
          span {
            color: #ffffff;
            font-family: $font_dosis;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

// // 2. Advanced Widget 1
// .whatsapp_for_wordpress_vi-public {
//     position: fixed;
//     bottom: 20px;
//     right: 20px;
//     transform: translate(-20px, -20px);
//     width: 320px;
//     height: 445px;
//     z-index: 0;
//     background: #b0b0b0;

//     max-height: 500px;
//     box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
//     background: rgba(0, 0, 0, 0.5);
//     background: #f7f7f7;
//     border-radius: 20px;
//     box-sizing: border-box;
//     z-index: 9999;
// }
// .wa_float_advanced1 {
//     position: relative;
//     height: 100%;
//     // overflow: hidden;

//     // flex-direction, flex-wrap, align-content, align-items, align-self, justify-content, justify-items, justify-self
//     @include flexer(column, null, null, null, null, space-between);

//     // Agent Info Header
//     &-agent-info {
//         &-actions {
//             position: relative;
//             z-index: 9999;
//             width: calc(100% - 10px);

//             &-btn {
//                 // flex-direction, flex-wrap, align-content, align-items, align-self, justify-content, justify-items, justify-self
//                 @include flexer(null, null, null, flex-end, null, flex-end);
//                 padding: 0 10px;
//                 position: absolute;
//                 right: 0;
//                 top: 16px;
//                 width: 100%;
//                 svg {
//                     width: 20px;
//                     height: 20px;
//                 }
//                 &-menu {
//                     display: none;
//                     transition: 1.4s ease-in-out all;
//                     &.opened {
//                         display: flex;
//                         position: absolute;
//                         top: 100%;
//                         padding: 20px 10px 10px 10px;
//                         background: #f7f7f7;
//                         right: 0;
//                         border: 2px solid #44444461;
//                         border-top: none;
//                         border-radius: 50px;
//                         border-top-left-radius: 0;
//                         border-top-right-radius: 0;
//                     }
//                     ul {
//                         // flex-direction, flex-wrap, align-content, align-items, align-self, justify-content, justify-items, justify-self
//                         @include flexer(column, null, null, center, null, center);
//                         gap: 15px;
//                         // li {
//                         //     a {
//                         //     }
//                         // }
//                     }
//                 }
//             }
//         }
//         &-inner {
//             // flex-direction, flex-wrap, align-content, align-items, align-self, justify-content, justify-items, justify-self
//             @include flexer(column, null, center, center, null, center);
//             position: absolute;
//             top: -45px;
//             width: 100%;
//             border-bottom: 2px solid #444;
//         }
//         &-picture {
//             img {
//                 width: 90px;
//                 height: 90px;
//                 border-radius: 50%;
//                 object-fit: cover;
//             }
//         }
//         &-name {
//             font-family: $font_nunito_sans;
//             font-weight: 600;
//             line-height: 30px;
//             margin: 4px 0;
//             font-size: remming(20);
//         }
//     }

//     // Chatbox Body Area
//     &-chatarea {
//         position: absolute;
//         top: 100px;
//         width: calc(100% - 20px);
//         padding: 0 10px;
//         height: 100%;
//         &-init-msg {
//             &-agent {
//                 display: flex;
//                 flex-wrap: wrap;
//                 flex-direction: row;
//                 gap: 5px;
//                 align-items: center;
//                 &-avatar {
//                     margin: 0;
//                     flex: 1 1 calc(15% - 5px);
//                     max-width: calc(15% - 2px);
//                     img {
//                         width: 40px;
//                         height: 40px;
//                         border-radius: 50%;
//                         object-fit: cover;
//                         max-width: 100%;
//                     }
//                 }
//                 &-msg {
//                     flex: 1 1 calc(85% - 5px);
//                     max-width: calc(85% - 2px);
//                     display: flex;
//                     flex-direction: row;
//                     gap: 7px;
//                     align-items: flex-start;
//                     .init_msg {
//                         font-size: remming(12);
//                         font-family: $font_nunito;
//                         font-weight: 600;
//                         line-height: remming(16);
//                         background-color: rgba(204, 204, 204, 0.42);
//                         padding: 4px 16px;
//                         position: relative;
//                         border-radius: 12px;
//                         border-bottom-left-radius: 0;

//                         flex: 1 1 calc(75% - 7px);
//                         max-width: calc(75% - 3px);

//                         // &::after {
//                         //     display: block;
//                         //     clear: both;
//                         //     content: "";
//                         //     position: absolute;
//                         //     bottom: 15px;
//                         //     right: -7px;
//                         //     width: 0;
//                         //     height: 0;
//                         //     border-style: solid;
//                         //     border-width: 0 12px 15px 12px;
//                         //     border-color: transparent transparent #4b7bec transparent;
//                         //     -webkit-transform: rotate(37deg);
//                         //     -ms-transform: rotate(37deg);
//                         //     transform: rotate(37deg);
//                         // }
//                     }
//                     .init_times {
//                         display: flex;
//                         flex-direction: column;
//                         flex-wrap: wrap;

//                         flex: 1 1 calc(25% - remming(7));
//                         max-width: calc(25% - remming(3));
//                         justify-content: flex-end;
//                         align-items: flex-end;
//                         &-timestamp {
//                             font-size: remming(10);
//                             font-family: $font_nunito_sans;
//                             font-weight: 600;
//                         }
//                         &-status {
//                             display: flex;
//                             align-items: flex-end;
//                             justify-content: flex-end;
//                             &-sent-delivered {
//                                 font-size: remming(12);
//                                 font-weight: 600;
//                                 color: #2a83d0;
//                             }
//                             &-sent-read {
//                                 font-size: remming(12);
//                                 font-weight: 600;
//                                 color: #2ad063;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         &-replybox {
//             position: absolute;
//             top: 60%;
//             width: calc(100% - 20px);
//             height: 50px;
//             textarea {
//                 height: 50px;
//                 border-radius: 30px;
//                 padding: 15px 30px 10px;
//                 border: 1px solid #ccc;
//                 box-shadow: none;
//                 overflow: unset;
//             }
//         }
//     }
// }
